.clinic {
    margin-top: 85px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e6f0;
}
.clinic-rating {
    text-align: end;
}
.selected-clinic {
    width: 700px;
    text-align: center;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: #99ade0;
}
.selected-name {
    margin-top: 0;
    border-radius: 5px;
    background-color: #6682c9;
}
.customer {
    background-color: #b5bfd9;
    text-align: center;
}
.customer-appointment {
    border-style: groove;
    justify-items: center;
    height: 25px;
}
.customer-box{
    width: 400px;
    margin-top: 5px;
}
.button {
    border-style: solid ;
    border-color: black;
}
#appeared {
    background-color: #6e8ee6;
}
#not-appeared {
    background-color: gray;
}
.fulfilled{
    margin-left: 10px;
    padding-top: 0;
    background-color: transparent;
    width: 150px;
    height: 20px;
    font-size: 14px;
    text-align: center;
}
