.client-box {
    margin-top: 90px;
    height: 100vh;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}
.client-card {
    background-color: #b5bfd9;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2px;
    margin-left: 25%;
    font-size: 20px;
    width: 50%;
}
.client-card div:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #000;
    margin-bottom: 8px;
}

.leave-box {
    left: 50%;
}
.leave-start {
    border-bottom-style: solid;
    padding-right: 100px;
}
.leave-card {
    border-style: solid;
    background-color: #6682c9;
    margin-top: 3px;
}
